body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.background-images {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.712) rgb(85, 85, 85));



}

.background-titel {
    font-family: 'Inter';
    color: #FFFFFF;
    position: absolute;
    width: 826px;
    height: 320px;
    left: 307px;
    top: 174px;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;

}

.background-paragraph {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    width: 691px;
    height: 56px;
    left: 375px;
    top: 390px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

}

.donate-button {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 16px;
    gap: 20px;
    position: absolute;
    width: 160px;
    height: 56px;
    left: 620px;
    top: 500px;
    background-color: #FF5959;
    font-size: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;

}

.donate-today {
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    font-style: bold;
    font-family: 'poppins', sans-serif;
}

.donate-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 690px;
    height: 40px;
    left: 375px;
    top: 820px;
    position: absolute;

}

.donate-container {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    margin-top: 150px;
    border: 40px;

}

.donate-taka {
    background-color: #eeecec;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

.donate-taka-200 {
    background-color: #f1d3d3;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.other-amount {
    position: absolute;
    padding-left: 10px;
    border: 2px solid #DADADA;
    width: 192px;
    height: 30px;
    left: 600px;
    top: 1080px;
    margin-bottom: 5px;
    font-size: 18px;

}

.donate-button-2 {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    gap: 8px;
    position: absolute;
    width: 160px;
    height: 56px;
    left: 617px;
    top: 1140px;
    background-color: #FF5959;
    font-size: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.donate-plan {
    position: absolute;
    width: 357px;
    height: 54px;
    left: 530px;
    top: 1220px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;

}

.donate-today-paragraph {
    position: absolute;
    width: 690px;
    height: 56px;
    left: 375px;
    top: 1320px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-size: bold;
    ;

}

.titel2 {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 100px;
    top: 1680px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;


}

.section-two {
    margin-top: 90px;
    padding: 30px;


}

.card1 {
    position: absolute;
    width: 360px;
    height: 352px;
    left: 50px;
    top: 1590px;
    background-color: rgba(79, 157, 166, 0.1);
    ;
    padding: 20px;
}

.food-icon {
    position: absolute;
    height: 40px;
    width: 45px;
    left: 100px;
    top: 1630px;
}

.food-paragraph {
    position: absolute;
    width: 315px;
    height: 100px;
    left: 100px;
    top: 1730px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-size: bold;

}

.card2 {
    position: absolute;
    width: 360px;
    height: 352px;
    left: 475px;
    top: 1590px;
    background-color: rgba(255, 89, 89, 0.1);
    ;
    padding: 20px;
    border-radius: 5px;

}

.shelter-icon {
    position: absolute;
    height: 40px;
    width: 45px;
    left: 520px;
    top: 1630px;
}

.titel3 {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 520px;
    top: 1680px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;

}

.shelter-paragraph {
    position: absolute;
    width: 315px;
    height: 100px;
    left: 520px;
    top: 1730px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-size: bold;

}

.card3 {
    position: absolute;
    width: 360px;
    height: 352px;
    left: 900px;
    top: 1590px;
    background-color: #FFF4D6;
    ;
    padding: 20px;
    border-radius: 5px;

}

.frame-icon {
    position: absolute;
    height: 40px;
    width: 45px;
    left: 940px;
    top: 1630px;

}

.title4 {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 940px;
    top: 1680px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.education-paragraph {
    position: absolute;
    width: 315px;
    height: 100px;
    left: 940px;
    top: 1730px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-size: bold;
}

.titel4 {
    position: absolute;
    width: 492px;
    height: 108px;
    left: 580px;
    top: 2020px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    text-align: center;

}

.extra-image1 {
    position: absolute;
    height: 400px;
    width: 500px;
    left: 50px;
    top: 2080px;
}

.community-team {
    position: absolute;
    width: 480px;
    height: 210px;
    left: 650px;
    top: 2170px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-size: bold;
}

.read-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 230px;
    top: 2390px;
    left: 650px;
    height: 50px;
    position: absolute;
    padding: 15px 20px;
    background-color: #FF5959;

}

.my-update {
    position: absolute;
    width: 355px;
    height: 55px;
    left: 555px;
    top: 2500px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.update-paragraph {
    position: absolute;
    width: 691px;
    height: 90px;
    left: 390px;
    top: 2580px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-size: bold;
}

.email-button {
    position: absolute;
    width: 800px;
    height: 200px;
    left: 250px;
    top: 2650px;
    background-color: #FFF4D6;
}

.email {
    position: absolute;
    width: 295px;
    height: 48px;
    left: 370px;
    top: 2700px;
    border-radius: 10px 10px;
    background-color: #D9D9D9;
}

.subscribe {
    position: absolute;
    width: 150px;
    height: 48px;
    left: 780px;
    top: 2700px;
    background: #FF5959;
    border-radius: 10px 5px 10px;
    text-align: center;
}